.container {
  width: 300px;
  height: 300px;
  position: relative;
  transform: skew(-10deg, -10deg);
  margin-left: 4rem;
  margin-bottom: 4rem;
}
.screen {
  background-color: rgb(135, 170, 158);
  padding: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen > * {
  animation: fadeIn 7s linear infinite;
  animation-fill-mode: forwards;
}
.screen3D {
  background-color: var(--clr-accent);
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 10px;
  height: 100%;
  width: 100%;
}


@media screen and (max-width: 1200px) {
  .container {
    align-self: center;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


