.heroSection {
  height: 100vh;
  display: flex;
}
.contentContainer {
  display: flex;
  flex-flow: row wrap-reverse;
  gap: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  align-content: center;
  gap: 4rem;
}
.textContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1rem;
}
h3 {
  font-size: clamp(1vw, 1rem, 1.2rem);
  color: var(--clr-accent);
  line-height: clamp(1vw, 1rem, 1.2rem);
}
h1 {
  font-size: clamp(3rem, 8vw, 6rem);
  color: var(--clr-primary-text);
  line-height: clamp(3rem, 8vw, 6rem);
}
h2 {
  font-size: clamp(2rem, 5vw, 4rem);
  color: var(--clr-primary-text);
  filter: contrast(10%);
  line-height: clamp(2rem, 5vw, 4rem);
}
p {
  padding-top: 0.5rem;
  font-size: clamp(1rem, 5vw, 1.2rem);
  color: var(--clr-primary-text);
  filter: contrast(10%);
  line-height: clamp(1.2rem, 7vw, 1.4rem);
  max-width: 58ch;
}
.contactButton {
  padding: 1rem 2rem;
  width: 15rem;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: 3px solid var(--clr-accent);
  border-image: linear-gradient(
    to right,
    var(--clr-accent),
    var(--clr-dark-accent)
  );
  border-image-slice: 1;
  color: var(--clr-accent);
  filter: contrast(80%);
  font-size: 1.4rem;
  margin-top: 2rem;
}
.contactButton::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--clr-accent);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.contactButton:hover::before {
  opacity: 0.1;
}
@media screen and (max-width: 900px) {
  .contentContainer {
    text-align: center;
    justify-content: center;
  }
  .contactButton {
    align-self: center;
  }
}
