.heroSection {
  height: 100vh;
  display: flex;
}
.contentContainer {
  display: flex;
  flex-flow: row wrap-reverse;
  padding-left: 3rem;
  padding-right: 3rem;
  align-content: center;
  gap: 4rem;
}
.textContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1rem;
}
.textContainer h3 {
  font-size: clamp(1vw, 1rem, 1.2rem);
  color: var(--clr-accent);
  line-height: clamp(1vw, 1rem, 1.2rem);
}
.textContainer h1 {
  font-size: clamp(3rem, 7vw, 5rem);
  line-height: clamp(3rem, 7vw, 5rem);
  letter-spacing: 0.2rem;
}
.textContainer h2 {
  font-size: clamp(2rem, 3vw, 3rem);
  color: var(--clr-accent);
  filter: contrast(10%);
  line-height: clamp(2rem, 3vw, 3rem);
}
.textContainer p {
  padding-top: 0.5rem;
  line-height: 1.6rem;
  max-width: 50ch;
  filter: contrast(10%);
}
.contact {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 2rem;
}
.contact p {
  filter: brightness(30%);
  padding-top:0;
}
.contactButton {
  padding: 1rem 2rem;
  width: 15rem;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: 3px solid var(--clr-accent);
  border-image: linear-gradient(
    to right,
    var(--clr-accent),
    var(--clr-dark-accent)
  );
  border-image-slice: 1;
  color: var(--clr-accent);
  filter: contrast(80%);
  font-size: 1.4rem;
}
.contactButton::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--clr-accent);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.contactButton:hover::before {
  opacity: 0.1;
}
@media screen and (min-width: 1200px) {
  .contentContainer {
    padding-left: 13rem;
  }
}
@media screen and (max-width: 1300px) {
  .contentContainer {
    text-align: center;
    justify-content: center;
  }
  .contact {
    align-self: center;
    justify-content: center;
  }
  .textContainer p {
    align-self: center;
  }
}
@media screen and (max-height: 850px) {
  .heroSection {
    margin-top: 12rem;
  }
}
@media screen and (max-width: 400px) {
  .contentContainer {
    padding: 0;
  }
  .textContainer {
    padding: 0 .5rem;
  }
}
