.aboutContainer {
  width: clamp(30ch, 45vw, 60ch);
}
.aboutContainer h1 {
  color: var(--clr-about);
  filter: contrast(30%);
  letter-spacing: 0.2rem;
  font-size: clamp(1rem, 5vw, 2.5rem);
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 80%;
  margin-bottom: 2rem;
  white-space: nowrap;
}
.aboutContainer h1::before {
  content: '';
  height: 1px;
  min-width: 10px;
  background-color: var(--clr-about);
}
.aboutContainer h1::after {
  content: '';
  margin-left: 1rem;
  height: 1px;
  flex-grow: 2;
  min-width: 30px;
  background-color: var(--clr-about);
}
.aboutContainer p {
  color: var(--clr-about-muted);
  font-size: clamp(1rem, 5vw, 1.3rem);
}
.aboutContainer a {
  color: var(--clr-accent);
  text-decoration: none;
}
@media screen and (max-width: 1750px) {
  .aboutContainer {
    margin-right: 30rem;
  }
}
@media screen and (max-width: 1350px) {
  .aboutContainer {
    margin-right: 0;
  }
}
