main {
  background-color: var(--clr-background);
  background-image: var(--clr-background-gradient);
}

.themeButtonContainer {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.7s ease-out;
}

.loaded.themeButtonContainer {
  top: 96%;
  left: 96%;
}
.tempFooter {
  height: 50px;
  padding: 2rem;
  text-align: center;
  width: 100%;
}
.meContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 5rem;
  justify-content: space-between;
  max-width: 130rem;
  padding-left: 13rem;
}

@media screen and (max-width: 1200px) {
  .meContainer {
    justify-content: center;
    padding-left: 0;
  }
  .meContainer > * {
    flex-basis: 66%;
  }
}

